
*{
    background-color: rgb(184, 200, 206);
}

h1{
    color:rgb(62, 55, 163);
    text-align: center;
    text-decoration:underline;
    
    font-family:fantasy;
}


label{

    display:block;
    text-align: center;
    margin-top:4%;
    margin-bottom: 2%;
}

input{
    
    border-color: rgb(7, 69, 193);
}

#submit{
    display:block;
    margin: 0 auto;
}

textarea{
    
    display:flex;
    margin:0 auto;
    margin-top: 1.5%;
}

.contenedor{
    display:flex;
    margin-left:3%;
}

.contenedor iframe{
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid #000; /* Define el borde del iframe */
    border-radius: 10px; /* Establece el radio de borde */
    overflow:hidden;
    
}